.wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgba(blue, .5);
	:global{
		h1{
			color: rgba(blue, .5);
		}
		.anticon-smile-o{
			margin-left: 20px;
			font-size: 20px;
		}
	}
	
}